<header class="bg-gray-500 sticky top-0 z-50 px-4">
  <div class="container mx-auto flex justify-between items-center py-4">
    <nav class="flex md:flex-grow">
      <ul class="flex space-x-4 text-white">
        <li>
          <a [routerLink]="['']" class="hover:text-secondary font-bold"><i class="fa-regular fa-house"></i></a>
        </li>
        <li>
          <a
            [routerLink]="['/employees']"
            class="hover:text-secondary font-bold"
            ><i class="fa-solid fa-list"></i></a
          >
        </li>
        <li>
          <a
            [routerLink]="['/employee/create']"
            class="hover:text-secondary font-bold"
            ><i class="fa-regular fa-calendar-plus"></i></a
          >
        </li>
        <li>
          <a
            [routerLink]="['/login']"
            class="hover:text-secondary font-bold"
            ><i class="fa-regular fa-user"></i></a
          >
        </li>
                <li>
          <a
            [routerLink]="['/register']"
            class="hover:text-success font-bold"
            ><i class="fa-solid fa-user-plus"></i></a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
